<br><br><br>
<main class="form-signin">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <h1 class="h3 mb-3 fw-normal">Sign in</h1>

        <div class="form-floating">
            <input type="text" #username="ngModel" [(ngModel)]="model.username" class="form-control" id="username"
                placeholder="Usernama" name="username">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" #password="ngModel" [(ngModel)]="model.password" class="form-control"
                id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <a [routerLink]="['/register']"> Create Account</a>

    </form>
</main>